<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smartlibrary.mapper.BookInfoMapper">
    <update id="updateBook">
        update book_info
        <set>
            <if test="bookName != null">book_name = #{bookName},</if>
            <if test="author != null">author = #{author},</if>
            <if test="count != null">count = #{count},</if>
            <if test="price != null">price = #{price},</if>
            <if test="publish != null">publish = #{publish},</if>
            <if test="status != null"> status = #{status},</if>
        </set>
        where id = #{id}
    </update>

    <update id="batchDelete">
        update book_info set status = 0 where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

</mapper>